//===============================================================================
// BYOB-INFO
//===============================================================================
.page.beer-info {
  left: 25%;
}

.beer-info-content {

}

.beer-info-img {

}

.beer-info-name {

}

.beer-info-description {

}

.beer-info-falvour {

}

.beer-info-sugestions {

}

.beer-info-btn-container {
  padding: 0 15px;

  @media screen and ( min-width: 600px ) {
    padding: 0 30px;
  }

  @media screen and ( min-width: 900px ) {
    padding: 0 60px;
  }

  @media screen and ( min-width: 1200px ) {
    padding: 0 90px;
  }
}

.beer-info-back {

}

.beer-info-find {

}