//===============================================================================
// BYOB-INFO
//===============================================================================
.page.byob-info {
  left: 75%;
}

.byob-info-map {

}

.byob-info-content {

}

.byob-info-name {

}

.byob-info-description {

}

.byob-info-back {
  float: left;
}

.byob-info-launch {
  float: right;
  background: $ab-bright-red;
  color: white;

  &:hover {
    background: darken( $ab-bright-red, 10 );
  }
}
