/* line 5, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 12, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
body {
  margin: 0; }

/* line 31, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 40, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* line 47, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
[hidden], template {
  display: none; }

/* line 63, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
a {
  background: transparent; }

/* line 69, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 77, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 83, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 88, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 93, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 99, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 105, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 111, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 118, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 122, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 130, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
img {
  border: 0; }

/* line 135, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 143, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 148, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 155, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
pre {
  overflow: auto; }

/* line 163, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 182, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 189, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
button {
  overflow: visible; }

/* line 198, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
button, select {
  text-transform: none; }

/* line 208, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* line 215, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 221, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 228, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
input {
  line-height: normal; }

/* line 238, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

/* line 247, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 253, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 263, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 268, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 276, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 282, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
textarea {
  overflow: auto; }

/* line 288, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 296, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 302, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_normalize.scss */
td, th {
  padding: 0; }

/* line 7, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
*, *::before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 12, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
a {
  font-weight: 600;
  color: #0055ff; }

/* line 17, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 24, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #ee823f;
  color: #525f7a;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  overflow-x: hidden; }

/* line 38, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
.wrap {
  position: absolute;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.25s;
  transition: left 0.25s; }
  /* line 44, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
  .wrap.pos-1 {
    left: 0; }
  /* line 48, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
  .wrap.pos-2 {
    left: -100%; }
  /* line 52, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
  .wrap.pos-3 {
    left: -200%; }
  /* line 56, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
  .wrap.pos-4 {
    left: -300%; }

/* line 61, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
.page {
  position: absolute;
  width: 25%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ecd68d; }
  /* line 69, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
  .page:nth-child(even) {
    background-color: #ebbc81; }

/* line 74, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
.branding {
  padding: 15px; }
  /* line 77, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
  .branding h1 {
    font-size: 11vw;
    margin: 0;
    font-weight: 900;
    text-align: center;
    color: #d35650;
    text-shadow: 1px 1px 0 #fdfaf3, 2px 2px 0 #fdfaf3, 3px 3px 0 #fdfaf3; }
    @media screen and (min-width: 450px) {
      .branding h1 {
        font-size: 3rem; } }

/* line 93, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
button {
  appearance: none;
  border: 0 solid white;
  padding: 6px 16px 6px;
  border-radius: 2px;
  outline: none;
  background-color: #fefcf9;
  font-weight: 500;
  font-size: 1.3rem;
  -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.075);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }
  /* line 106, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_shared.scss */
  button:hover {
    z-index: 2;
    -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) scale(1.05);
    transform: translate3d(0, 0, 0) scale(1.05);
    background-color: white; }

/* line 8, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
.beer-select-intro {
  text-align: center;
  padding: 0 15px;
  max-width: 500px;
  margin: 0 auto; }
  /* line 14, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
  .beer-select-intro p {
    font-size: 4vw;
    font-weight: 400;
    font-style: italic;
    color: #ba6347;
    line-height: 1.2;
    margin: 2px 0 0; }
  /* line 23, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
  .beer-select-intro h3 {
    font-size: 7vw;
    margin: 12px 0 8px;
    color: #d04a43;
    text-shadow: 1px 1px 0 #fdfaf3, 2px 2px 0 #fdfaf3; }
  @media screen and (min-width: 450px) {
    /* line 32, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
    .beer-select-intro p {
      font-size: 1.2rem; }
    /* line 36, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
    .beer-select-intro h3 {
      font-size: 2rem; } }

/* line 42, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
.beer-select-list {
  margin: 15px 0;
  padding: 0 15px; }
  /* line 8, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_mixins.scss */
  .beer-select-list:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 600px) {
    .beer-select-list {
      padding: 0 30px; } }
  @media screen and (min-width: 900px) {
    .beer-select-list {
      padding: 0 60px; } }
  @media screen and (min-width: 1200px) {
    .beer-select-list {
      padding: 0 90px; } }

/* line 61, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
.beer-select-item {
  background: white;
  border-radius: 2px;
  margin-bottom: 10px;
  float: left;
  width: -webkit-calc( 50% - 5px);
  width: calc( 50% - 5px);
  padding: 5px;
  -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
  transition: transform 0.25s, box-shadow 0.25s;
  margin-right: 10px; }
  /* line 77, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
  .beer-select-item:nth-child(even) {
    margin-right: 0; }
  /* line 81, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
  .beer-select-item:hover {
    z-index: 2;
    -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.075);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.075);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  @media screen and (min-width: 600px) {
    .beer-select-item {
      width: -webkit-calc( 33% - 5px);
      width: calc( 33% - 5px); }
      /* line 90, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
      .beer-select-item:nth-child(even) {
        margin-right: 10px; }
      /* line 94, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
      .beer-select-item:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 900px) {
    .beer-select-item {
      width: -webkit-calc( 25% - 10px);
      width: calc( 25% - 10px); }
      /* line 102, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
      .beer-select-item:nth-child(3n) {
        margin-right: 10px; }
      /* line 106, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
      .beer-select-item:nth-child(4n) {
        margin-right: 0; } }
  @media screen and (min-width: 1200px) {
    .beer-select-item {
      width: -webkit-calc( 20% - 10px);
      width: calc( 20% - 10px); }
      /* line 114, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
      .beer-select-item:nth-child(4n) {
        margin-right: 10px; }
      /* line 118, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
      .beer-select-item:nth-child(5n) {
        margin-right: 0; } }

/* line 124, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
.beer-select-img-container {
  background: #e6e6e6;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 1px;
  position: relative;
  overflow: hidden; }

/* line 133, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
.beer-select-img {
  position: absolute;
  height: 90%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* line 141, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
.beer-select-name-container {
  height: 1.75rem;
  position: relative; }

/* line 146, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-select.scss */
.beer-select-name {
  font-size: 0.8rem;
  line-height: 1.1;
  width: 100%;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%); }

/* line 4, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
.page.beer-info {
  left: 25%;
  padding-bottom: 30px; }

/* line 9, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
.beer-info-content {
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05);
  margin: 15px;
  padding: 15px; }
  @media screen and (min-width: 600px) {
    .beer-info-content {
      margin: 15px 30px; } }
  @media screen and (min-width: 900px) {
    .beer-info-content {
      margin: 15px 60px; } }
  @media screen and (min-width: 1200px) {
    .beer-info-content {
      margin: 15px 90px; } }

/* line 29, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
.beer-info-img {
  float: left;
  max-width: 33.3333%;
  margin-right: 5px;
  margin-bottom: 1rem;
  max-height: 300px; }

/* line 37, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
.beer-info-name {
  margin: 0.2rem 0 1rem;
  line-height: 1;
  font-size: 2.5rem; }

/* line 46, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
label.beer-info-grains, label.beer-info-flavour, label.beer-info-abv {
  font-weight: 300;
  display: block; }
  /* line 50, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
  label.beer-info-grains::after, label.beer-info-flavour::after, label.beer-info-abv::after {
    content: ": "; }

/* line 57, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
span.beer-info-grains, span.beer-info-flavour, span.beer-info-abv {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.1; }
  @media screen and (min-width: 900px) {
    span.beer-info-grains, span.beer-info-flavour, span.beer-info-abv {
      width: 33%; } }

/* line 69, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
span.beer-info-abv::after {
  content: "%"; }

/* line 73, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
.beer-info-description {
  font-size: 0.9rem;
  display: block;
  clear: both; }

/* line 86, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
.beer-info-btn-container {
  padding: 0 15px; }
  /* line 8, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_mixins.scss */
  .beer-info-btn-container:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 600px) {
    .beer-info-btn-container {
      padding: 0 30px; } }
  @media screen and (min-width: 900px) {
    .beer-info-btn-container {
      padding: 0 60px; } }
  @media screen and (min-width: 1200px) {
    .beer-info-btn-container {
      padding: 0 90px; } }

/* line 104, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
.beer-info-back {
  float: left; }

/* line 108, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
.beer-info-find {
  float: right;
  background: #e93e35;
  color: white; }
  /* line 113, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_beer-info.scss */
  .beer-info-find:hover {
    background: #d32117; }

/* line 4, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_byob-map.scss */
.page.byob-map {
  left: 50%; }

/* line 8, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_byob-map.scss */
.byob-map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* line 16, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_byob-map.scss */
.info_window a {
  text-decoration: none; }

/* line 4, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_byob-info.scss */
.page.byob-info {
  left: 75%; }

/* line 24, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_byob-info.scss */
.byob-info-back {
  float: left; }

/* line 28, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_byob-info.scss */
.byob-info-launch {
  float: right;
  background: #e93e35;
  color: white; }
  /* line 33, /Users/raphael/Desktop/Personal Projects/AB-BeerHack/src/sass/_byob-info.scss */
  .byob-info-launch:hover {
    background: #d32117; }
